:root {
    --color-primario: #353a40;/*hover de aceptar*/
    --color-secundario: #495058; /*hover de aceptar*/
    --color-terciario: #6c757c;/*hover de aceptar*/
    --color-claro: #adb6bd;/*hover de aceptar*/
    --color-muy-claro: #cfd4da;/*hover de aceptar*/
    --blanco: #ffffff;/*hover de aceptar*/
}