/* Estilos generales para el overlay */
.addBarber-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 800; /* Asegúrate de que el modal esté por encima de otros elementos */
}

/* Contenedor del modal */
.addBarber-modal-container {
    background: var(--color-muy-claro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--color-primario);
    width: auto;
    max-width: 90%;
    min-width: 400px;
    max-height: 90vh; /* Reduce the height */
    overflow-y: auto; /* Add vertical scroll if content overflows */
}

/* Título del modal */
.addBarber-modal-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: var(--color-primario);
}

/* Formulario */
.addBarber-form-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo de los grupos de input */
.addBarber-input-group {
    display: flex;
    flex-direction: column;
}

.addBarber-input-group label {
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--color-secundario);
    font-weight: bold; /* Make the name bold */

}

.addBarber-input-group input,
.addBarber-input-group textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

.addBarber-input-group input:focus,
.addBarber-input-group textarea:focus {
    border-color: var(--color-primario); /* Color al hacer foco */
}
.addbarberbutton {
    padding: 10px;
    background-color: var(--color-terciario);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .addbarberbutton:hover {
    background-color: var(--color-primario);
    color: var(--color-muy-claro);
    transform: scale(1.05);
  }

/* Imagen de carga */
.addBarber-upload-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px dashed #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
}


.addBarber-upload-icon:hover {
    background-color: var(--color-claro); /* Cambio de color al pasar el mouse */
}

.addBarber-photo-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #ddd;
}

/* Botones de acción */
.addBarber-form-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.addBarber-cancel-btn,
.addBarber-submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
}

.addBarber-cancel-btn {
    background-color: var(--color-terciario);
    color: var(--color-muy-claro);
}

.addBarber-cancel-btn:hover {
    background-color: var(--color-secundario);
}

.addBarber-submit-btn {
    background-color: var(--color-primario);
    color: var(--color-muy-claro);
}

.addBarber-submit-btn:hover {
    background-color: var(--color-secundario);
}

/* Asegurar la respuesta móvil */
@media (max-width: 768px) {
    .addBarber-modal-container {
        width: 90%;
        padding: 15px;
    }

    .addBarber-form-actions {
        flex-direction: column;
    }

    .addBarber-cancel-btn,
    .addBarber-submit-btn {
        flex-grow: 0;
        width: 100%;
        margin-top: 10px;
    }
}

/* Estilos personalizados para los toasts */
.Toastify__toast-container {
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
}

.Toastify__toast {
    background-color: var(--color-primario); /* Fondo del toast */
    color: #fff; /* Color del texto */
    border-radius: 8px; /* Bordes redondeados */
    padding: 12px 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 14px; /* Tamaño de la fuente */
}

.Toastify__toast--success {
    background-color: var(--color-primario); /* Fondo verde para mensajes de éxito */
}

.Toastify__toast--error {
    background-color: var(--color-terciario); /* Fondo rojo para mensajes de error */
}

.Toastify__toast--warning {
    background-color: var(--color-secundario); /* Fondo amarillo para mensajes de advertencia */
}

.Toastify__toast--info {
    background-color: var(--color-claro); /* Fondo azul para mensajes de información */
}

.Toastify__toast-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toastify__progress-bar {
    height: 4px;
    background-color: #fff; /* Color de la barra de progreso */
    border-radius: 4px; /* Bordes redondeados de la barra */
}

/* Puedes añadir más estilos para ajustar según tus necesidades */

/* Estilos para el grupo de botones */
.addBarber-button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.addBarber-button-group.centered {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para los botones animados */
.addBarber-animated-btn {
    padding: 10px 20px;
    background-color: var(--color-primario);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.addBarber-animated-btn:hover {
    background-color: var(--color-primario);
    color: var(--color-muy-claro);
    transform: scale(1.05);
}

/* Contenedor del botón de atrás */
.addBarber-back-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

/* Estilos para el botón de atrás */
.addBarber-back-btn {
    padding: 10px;
    background-color: var(--color-terciario);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.addBarber-back-btn:hover {
    background-color: var(--color-primario);
    color: var(--color-muy-claro);
    transform: scale(1.05);
  }

/* Contenedor del formulario */
.addBarber-form-container {
    margin-top: 0; /* Ajusta este valor según sea necesario */
}

/* Estilos para la cabecera */
.addBarber-header {
    display: flex;
    justify-content: space-between;  /* Alinea los elementos a los extremos */
    align-items: center;  /* Centra los elementos verticalmente */
    margin-bottom: 20px;
  }
  .addBarber-header h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center; /* Mantiene el título centrado */
    flex-grow: 1; /* Hace que el título ocupe el espacio restante */
  }

/* Estilos para la lista de barberos */
.addBarber-barber-list {
    list-style: none;
    padding: 0;
}

.addBarber-barber-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid var(--color-secundario);
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: var(--color-muy-claro);
    transition: background-color 0.3s, transform 0.3s;
    position: relative; /* Add position relative */
    font-weight: bold; /* Make the name bold */
    flex-wrap: nowrap; /* Prevent wrapping */
}

.addBarber-barber-item:hover {
    background-color: var(--color-claro);
    transform: scale(1.02);
}

.addBarber-action-buttons {
    display: flex;
    gap: 10px;
    position: relative; /* Change to relative */
    flex-shrink: 0; /* Prevent shrinking */
    width: 140px; /* Set a fixed width */
}

.addBarber-delete-btn,
.addBarber-edit-btn {
  background-color: var(--color-terciario);
  width: 40px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px; /* Move down a bit */
}

.addBarber-delete-btn:hover,
.addBarber-edit-btn:hover {
    background-color: var(--color-secundario);
    transform: scale(1.05);
}

.addBarber-payment-btn {
  background-color: var(--color-terciario);
  width: 40px;
  height: 40px;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px; /* Move down a bit */
}

.addBarber-payment-btn:hover {
  background-color: var(--color-secundario);
  transform: scale(1.05);
}
.addBarber-barber-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--color-secundario);
    margin-right: 15px;
    flex-shrink: 0; /* Prevent shrinking */
}
.addBarber-barber-item div {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold; /* Make the name bold */

}

.addBarber-barber-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Ensure content does not overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    margin-right: 15px; /* Add some space between name and buttons */
}

.addBarber-barber-item span {
    font-size: 16px;
    color: var(--color-primario);
    font-weight: bold; /* Make the name bold */
}

/* Estilos para el modal de confirmación */
.addBarber-confirm-modal {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.addBarber-confirm-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.addBarber-confirm-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.addBarber-confirm-btn:hover {
    background-color: var(--color-primario);
    color: var(--color-muy-claro);
    transform: scale(1.05);
}

/* Estilos para el loader */
.addBarber-loader {
    text-align: center;
    font-size: 18px;
    color: #333;
}

.addBarber-animated-modal {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.addBarber-payment-item {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start */
    padding: 10px;
    border: 1px solid var(--color-secundario);
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: var(--color-pagado);
    transition: background-color 0.3s, transform 0.3s;
    position: relative; /* Ensure relative positioning for absolute children */
}

.addBarber-payment-item:hover {
    background-color: var(--color-pagado);
    transform: scale(1.02);
}

.addBarber-payment-item label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--color-primario);
    font-weight: bold;
    width: 100%;
    gap: 10px; /* Remove space between the checkbox and the text */
    cursor: pointer;
}

.addBarber-payment-item input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-primario);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

/* Efecto cuando está marcado */
.addBarber-payment-item input[type="checkbox"]:checked {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

/* Agregar un ícono de check */
.addBarber-payment-item input[type="checkbox"]::after {
    content: '✔';
    font-size: 14px;
    color: white;
    display: none;
}

.addBarber-payment-item input[type="checkbox"]:checked::after {
    display: block;
}

.addBarber-payment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-secundario); /* Divider line */
}

.addBarber-chevron-btn {
    padding: 10px;
    background-color: var(--color-terciario);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transform: rotate(0deg); /* Initial rotation */
    align-self: flex-end; /* Align to the right */
    margin-top: 0px; /* Move up to align with label */
}

.addBarber-chevron-btn.rotate {
    transform: rotate(180deg); /* Rotate 180 degrees when active */
}

.addBarber-chevron-btn:hover {
    background-color: var(--color-primario);
    color: var(--color-muy-claro);
}

.addBarber-payment-info {
    display: none; /* Hide by default */
    flex-direction: column;
    padding: 10px;
    width: 100%; /* Ensure it takes full width */
    box-sizing: border-box; /* Include padding in width calculation */
    background-color: var(--color-muy-claro); /* Match background color */
    border-radius: 8px; /* Match border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

.addBarber-payment-info.show {
    display: flex; /* Show when active */
}

.addBarber-payment-amount-tip {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Add space between the divider and the content */
    font-size: 14px;
    color: var(--color-primario);
}

.addBarber-payment-amount-tip div {
    font-weight: bold; /* Make the text bold */
}

.addBarber-payment-amount-tip .unpaid {
    color: red; /* Red color for unpaid amounts */
}

.addBarber-payment-amount-tip .paid {
    color: green; /* Green color for paid amounts */
}

.addBarber-payment-info div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-primario);
}

.addBarber-payment-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid var(--color-secundario); /* Divider line */
}

.addBarber-total-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: var(--color-primario);
}

.addBarber-total-container div {
    display: flex;
    justify-content: space-between;
    font-weight: bold; /* Make the text bold */
}

.addBarber-total-container .unpaid {
    color: red; /* Red color for unpaid totals */
}

.addBarber-total-container .paid {
    color: green; /* Green color for paid totals */
}

.addBarber-payment-buttons {
    display: flex;
    gap: 10px;
}

.addBarber-payment-modal {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    z-index: 801; /* Asegura que esté por encima del overlay */
    position: fixed;
    will-change: transform; /* Optimiza el renderizado */
  }
  

.addBarber-payment-methods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
}

.addBarber-payment-methods li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--color-primario);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addBarber-payment-methods li:hover {
  background-color: var(--color-muy-claro);
}

.payment-icons {
  width: 100px;
  height: 100px;
}

.addBarber-payment-modal button {
  padding: 10px 20px;
  background-color: var(--color-terciario);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.addBarber-payment-modal button:hover {
  background-color: var(--color-secundario);
  transform: scale(1.05);
}

.addBarber-payment-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.addBarber-payment-controls select {
  padding: 5px 10px;
  border: 1px solid var(--color-secundario);
  border-radius: 8px;
  background-color: var(--color-muy-claro);
  color: var(--color-primario);
  font-size: 14px;
  cursor: pointer;
}

.addBarber-payment-controls label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-primario);
  cursor: pointer;
  gap: 10px; /* Add space between the checkbox and the text */
}

.addBarber-payment-controls input[type="checkbox"],
.addBarber-select-all input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-primario);
  border-radius: 3px; /* Make it square */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

/* Efecto cuando está marcado */
.addBarber-payment-controls input[type="checkbox"]:checked,
.addBarber-select-all input[type="checkbox"]:checked {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}

/* Agregar un ícono de check */
.addBarber-payment-controls input[type="checkbox"]::after,
.addBarber-select-all input[type="checkbox"]::after {
  content: '✔';
  font-size: 14px;
  color: white;
  display: none;
}

.addBarber-payment-controls input[type="checkbox"]:checked::after,
.addBarber-select-all input[type="checkbox"]:checked::after {
  display: block;
}
/* Efecto cuando está marcado */
.addBarber-payment-controls input[type="checkbox"]:checked {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

/* Agregar un ícono de check */
.addBarber-payment-controls input[type="checkbox"]::after {
    content: '✔';
    font-size: 14px;
    color: white;
    display: none;
}

.addBarber-payment-controls input[type="checkbox"]:checked::after {
    display: block;
}
.addBarber-payment-controls label,
.addBarber-select-all label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-primario);
  cursor: pointer;
  gap: 10px; /* Add space between the checkbox and the text */
}

.addBarber-payment-controls input[type="checkbox"],
.addBarber-select-all input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-primario);
  border-radius: 3px; /* Make it square */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

/* Efecto cuando está marcado */
.addBarber-payment-controls input[type="checkbox"]:checked,
.addBarber-select-all input[type="checkbox"]:checked {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}

/* Agregar un ícono de check */
.addBarber-payment-controls input[type="checkbox"]::after,
.addBarber-select-all input[type="checkbox"]::after {
  content: '✔';
  font-size: 14px;
  color: white;
  display: none;
}

.addBarber-payment-controls input[type="checkbox"]:checked::after,
.addBarber-select-all input[type="checkbox"]:checked::after {
  display: block;
}

/* ...existing code... */
.addBarber-select-all {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between the checkbox and the text */
}

.addBarber-select-all input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-primario);
  border-radius: 3px; /* Make it square */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

/* Efecto cuando está marcado */
.addBarber-select-all input[type="checkbox"]:checked {
  background-color: var(--color-primario);
  border-color: var(--color-primario);
}

/* Agregar un ícono de check */
.addBarber-select-all input[type="checkbox"]::after {
  content: '✔';
  font-size: 14px;
  color: white;
  display: none;
}

.addBarber-select-all input[type="checkbox"]:checked::after {
  display: block;
}
/* ...existing code... */
